* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

canvas {
  box-shadow: 2px 2px 20px 1px red;
  border-radius: 6px;
}

button {
  border: 2px solid black;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
}
